{% extends 'base_layout.html' %} {% block content %}

    <div class="accordion" id="accordionExample">
    {% for event in events %}
        <div class="accordion-item expandable_card">
            <h2 class="accordion-header expandable_card_header" id="heading{{ loop.index }}">
                <button class="accordion-button expandable_card_button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true"
                        aria-controls="collapse{{ loop.index }}">
                    <i class="fs-16
                    {% if event[1] == 1 or event[1] == 2 %} bi-droplet-fill
                    {% elif event[1] == 3 or event[1] == 4 %} bi-plug-fill
                    {% elif event[1] == 5 %} bi-thermometer-snow
                    {% elif event[1] == 6 %} bi-thermometer-sun
                    {% elif event[1] == 7 %} bi-person-bounding-box
                    {% else %} bi-bug-fill {% endif %}
                    card-title-icon accordion_title_icon"></i>
                    {{ event[2] }}
                    {% if event[5] == 0 %}
                    <i class="fs-24 bi bi-dot card-title-icon accordion_title_alert alert_red event-{{ event[0] }}"></i>
                    {% endif %}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse expandable_card_collapse"
                 aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                <div class="accordion-body expandable_card_body">
                    <i class="fs-16 bi-house-fill card-title-icon"></i>
                    <span>Lokalizacja: {{ event[3] }}</span><br>
                    <i class="fs-16 bi-clock-fill card-title-icon"></i> <span>Data wystąpienia problemu: {{ event[4] }}</span><br>
                    {% if event[5] == 0 %}
                    <i class="fs-16 bi bi-check-square-fill card-title-icon submitButton event-{{ event[0] }}" onClick="checkEvent({{ event[0] }}, {{ event[6] }})"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

<script>
    let expandable_cards = document.getElementsByClassName("expandable_card");
    for (let card of expandable_cards) {
        card.addEventListener("click", () => {
            let header = card.firstElementChild;
            let button = header.firstElementChild;

            for (let curcard of expandable_cards) {
                let curheader = curcard.firstElementChild;
                let curbutton = curheader.firstElementChild;
                if (curbutton.classList.contains("collapsed")) {
                    setTimeout(() => {
                        curbutton.classList.remove("bottom-border-radius-flat");
                    }, 400)
                }
            }

            if (button.classList.contains("collapsed")) {
                setTimeout(() => {
                    button.classList.remove("bottom-border-radius-flat");
                }, 400)
            } else {
                button.classList.add("bottom-border-radius-flat");
            }

        });
    }

    function checkEvent(eventId, sensorId) {
        let data = {
            eventId: eventId,
            sensorId: sensorId,
            seen: 1
        }

        let elementsToHideClassName = "event-" + eventId;
        let elementsToHide = document.getElementsByClassName(elementsToHideClassName);
        for (let element of elementsToHide) {
            element.style.display = "none";
        }

        fetch('/update_event', {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'PATCH',
            body: JSON.stringify(data)
        });

    }

    {#let checkEvent = document.getElementById("check-event");#}

</script>

{% endblock %}