{% extends 'base.html' %}

{% block content %}

    <div class="accordion" id="accordionExample">

        {% for local in locals %}
            {#    SINGLE CARD    #}
            <div class="accordion-item expandable_card">
                <h2 class="accordion-header expandable_card_header" id="heading{{ loop.index }}">
                    <button class="accordion-button expandable_card_button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                        <i class="fs-16 bi-house-fill card-title-icon accordion_title_icon"></i> Mieszkanie - {{ local[0] }}, {{ local[1] }} {{ local[2] }}
                    </button>
                </h2>
                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse expandable_card_collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body expandable_card_body">
                        <i class="fs-16 bi-people-fill card-title-icon"></i> Okresowe zużycie wody: 63m<sup>3</sup><br>
                        <i class="fs-16 bi-droplet-fill card-title-icon"></i> Okresowe zużycie prądu: 322 kWh<br>
                        <i class="fs-16 bi-plug-fill card-title-icon"></i> Kwota najmu: 1100zł, termin płatności: 01.02.2022r.<br>
                        <i class="fs-16 bi-hash card-title-icon"></i> Kod lokalu: <b>{{ local[3] }}</b>
                    </div>
                </div>
            </div>
        {% endfor %}

        {#    SINGLE CARD    #}
{#        <div class="accordion-item expandable_card">#}
{#            <h2 class="accordion-header expandable_card_header" id="heading1">#}
{#                <button class="accordion-button expandable_card_button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">#}
{#                    <i class="fs-16 bi-house-fill card-title-icon accordion_title_icon"></i> Mieszkanie - aleja piastów#}
{#                </button>#}
{#            </h2>#}
{#            <div id="collapse1" class="accordion-collapse collapse expandable_card_collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">#}
{#                <div class="accordion-body expandable_card_body">#}
{#                    <i class="fs-16 bi-people-fill card-title-icon"></i> Okresowe zużycie wody: 63m<sup>3</sup><br>#}
{#                    <i class="fs-16 bi-droplet-fill card-title-icon"></i> Okresowe zużycie prądu: 322 kWh<br>#}
{#                    <i class="fs-16 bi-plug-fill card-title-icon"></i> Kwota najmu: 1100zł, termin płatności: 01.02.2022r.#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </div>

    <script>
        let expandable_cards = document.getElementsByClassName("expandable_card");
        for (let card of expandable_cards) {
            card.addEventListener("click", () => {
                let header = card.firstElementChild;
                let button = header.firstElementChild;

                for (let curcard of expandable_cards) {
                    let curheader = curcard.firstElementChild;
                    let curbutton = curheader.firstElementChild;
                    if (curbutton.classList.contains("collapsed")) {
                        setTimeout(() => {
                            curbutton.classList.remove("bottom-border-radius-flat");
                        }, 400)
                    }
                }

                if (button.classList.contains("collapsed")) {
                    setTimeout(() => {
                        button.classList.remove("bottom-border-radius-flat");
                    }, 400)
                } else {
                   button.classList.add("bottom-border-radius-flat");
                }

            });
        }
    </script>

{% endblock %}

