body {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: black;
}

.nav-item:visited{
    color: black;
}

.nav-link:hover {
    color: white;
}

.nav-item, .nav-pills {
    width: 100%;
}

.item-single {
    transition-duration: 0.5s;
    padding-left: 10px;
}

.item-single:hover {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 20px;
}

.left-navbar {
    background-color: #02A7FF;
    height: 100vh;
    width: 230px;
}

.item-single-current {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
}

.settings {
    vertical-align: bottom;
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    width: 150px;
}

.page-content {
    padding: 15px;
}

.content{
    padding: 0;
}

.topbar {
    background-color: #E5E5E5;
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user_info {
    margin-right: 20px;
}

.rounded-circle {
    width: 50px;
    height: 50px;
}

.user {
    text-align: right;
}

.logout {
    color: #8C8C8C;
}

.logout:hover {
    color: black;
}

.avatar {
    padding: 10px;
    font-size: 20px;
    background-color: darkgray;
}

img {
    width:100%;
}

hr {
    width: 100%;
}

