body {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.topbar {
    width: 100%;
    height: 120px;
    margin: 0;
    background-color: #E5E5E5;
}

.logo {
    height: 100%;
}

.mainLogo {
    height: 100%;
}

.login-btn {
    background-color: #02A7FF;
    border: none;
    position: relative;
    width: 100px;
    top: 35%;
    margin-right: 10px;
}

.login-btn:hover {
    background-color: #015480;
}

.buttons {
    float: right;
    text-align: right;
    background-color: #E5E5E5;
}

@media screen and (max-width: 600px) {
    .logo {
        text-align: center;
    }
    .buttons {
        text-align: center;
        padding-bottom: 30px;
    }
}

.content {
    height: 100px;
    margin: auto;
    text-align: justify;
    padding: 30px 10px 10px;
}

.screen {
    width: 40%;
    border-color: #E5E5E5;
    border-radius: 1px;
    border-style: solid;
    margin-left: 5%;
}

hr {
    border-top: 3px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
    bottom: 0;
}

.sensor-card {
    padding: 0;
}

.sensor-btn {
    background-color: #02A7FF;
    border: none;
    width: 50px;
}

.sensor-btn:hover {
    background-color: #015480;
}

.sensor-card-text {
    font-size: 15px;
}

.sensor-card-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}