@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

hr {
    width: 100%;
}

#closeSidebar {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
}

.nav-link {
    color: black;
}

.nav-link-current {
    color: white;
}

.nav-item:visited {
    color: black;
}

.nav-link:hover {
    color: white;
}

.nav-item,
.nav-pills {
    width: 100%;
}

.user {
    text-align: right;
}

.col {
    padding: 0;
}

.card {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.alert {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}


/* ----------------------------------------------- */

.item-single {
    transition-duration: 0.5s;
    padding-left: 10px;
}

.item-single:hover {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 20px;
}

.left-navbar {
    display: block;
    background-color: #02A7FF;
    height: 100vh;
    width: 230px;
    position: fixed;
}

.item-single-current {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
}

.settings {
    vertical-align: bottom;
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    width: 210px;
}

.page-content {
    padding: 40px;
    max-width: 900px;
    margin: 70px auto 0;
}

.content {
    padding: 0;
    margin-left: 230px;
}

.openbtn {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 30px;
    cursor: pointer;
}

.card-title-icon {
    font-size: 40px;
    padding: -10px;
    height: 10px;
    margin-right: 10px;
}

.navbar-title {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.user_info {
    margin-right: 20px;
    margin-top: 10px;
}

.submit-button {
    background-color: #02A7FF;
    color: white;
    width: 200px;
}

.add_local_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.add_local_form_item {
    width: 100%;
}

.add_local_form_input {
    text-align: center;
}


/* LOGOUT */

.logout {
    color: #8C8C8C;
    padding-top: 4px;
}

.logout:hover {
    color: black;
}

.bi-door-closed-fill {
    font-size: 25px;
}


/* ------ */


/* TOPBAR */

.avatar {
    padding: 10px;
    font-size: 20px;
    background-color: darkgray;
}

.topbar {
    position: fixed;
    width: calc(100% - 230px);
    height: 70px;
    background-color: #E5E5E5;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

.rounded-circle {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

.topbar-right-container {
    display: flex;
    flex-direction: row;
}


/* ------ */


/* MINI CARDS */

.mini_cards {
    margin: 0;
    justify-content: space-between;
}

.mini_card {
    max-width: 300px;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 50px;
}

.mini_card_body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.mini_card-title {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
}

.mini_card-text {
    font-size: 20px;
    font-weight: bold;
}


/* ------ */


/* BIG CARDS */

.big_card_row {
    margin: 10px 0 0;
}

.big_card_col {}

.big_card {
    border: none;
    background-color: #E5E5E5;
    border-radius: 70px;
    padding: 15px 20px 20px;
}

.big_card_header {
    background: none;
    border-bottom: 1px solid #8C8C8C;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 0;
    padding-left: 30px;
}

.big_card_body {
    padding-left: 30px;
}


/* ------ */


/* Mobile menu */

@media screen and (max-width:750px) {
    #logo {
        width: 50%;
        margin: 0 auto;
    }
    #sidebar-content {
        width: 100%;
    }
    .left-navbar {
        display: none;
        width: 100%;
        z-index: 5;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    .topbar {
        width: 100%;
    }
    .content {
        margin-left: 0;
    }
    .openbtn {
        display: block;
    }
    .nav-item {
        width: 100%;
        font-size: 25px;
        margin-top: 20px;
        text-align: center;
    }
    .settings {
        position: inherit;
        width: 100%;
    }
    .navbar-title {
        margin-left: 70px;
    }
    .username {
        display: none;
    }
}


/* EXPANDABLE CARDS */

.expandable_card {
    border: none;
    margin-bottom: 30px;
}

.expandable_card_button:focus {
    z-index: 1;
}

.expandable_card_header {
    z-index: 1;
}

.expandable_card_button {
    background-color: #E5E5E5;
    padding: 20px 40px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.expandable_card_button:focus {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed) {
    border-radius: 40px;
    background-color: #E5E5E5;
    color: #000;
}

.collapsing {
    transition-delay: 0.1s;
}

.accordion_title_icon {
    height: 55px;
}

.accordion_title_alert {
    display: flex;
    align-items: center;
    font-size: 90px;
    position: absolute;
    right: 40px;
    color: #00b400;
    /* color: #df0000; */
}

.expandable_card_collapse {
    background-color: #E5E5E5;
    /*padding: 15px 20px 20px;*/
    border-radius: 0 0 50px 50px !important;
    /*margin-top: -40px;*/
}

.expandable_card_body {
    padding: 0 40px 20px;
}

.bottom-border-radius-flat {
    border-radius: 40px 40px 0 0 !important;
}


/* ---------------- */


/* PEOPLE LIST MODAL */

.people-list {
    cursor: pointer;
}

.people-list:hover {
    font-weight: bold;
}

.people-list-modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.people-list-modal {
    position: fixed;
    background-color: white;
    border-radius: 50px;
    width: 700px;
    min-height: 200px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.people-list-modal-title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.people-list-modal-body {
    display: block;
    justify-content: center;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 10px;
}

.people-list-modal-exit-icon {
    font-size: 30px;
    position: fixed;
    right: 40px;
    top: 15px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .people-list-modal {
        width: 90%;
    }
    .people-list-modal-title {
        margin-top: 30px;
    }
}

.editButton {
    display: flex;
    padding-bottom: 15px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
}


/* ----------------- */