body {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: black;
}

.nav-item:visited {
    color: black;
}

.nav-link:hover {
    color: white;
}

.nav-item,
.nav-pills {
    width: 100%;
}

.item-single {
    transition-duration: 0.5s;
    padding-left: 10px;
}

.item-single:hover {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 20px;
}

.left-navbar {
    background-color: #02A7FF;
    height: 100vh;
    width: 230px;
}

.item-single-current {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
}

.settings {
    vertical-align: bottom;
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    width: 150px;
}

.page-content {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    padding: 0;
}

.topbar {
    background-color: #E5E5E5;
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user_info {
    margin-right: 20px;
}

.rounded-circle {
    width: 50px;
    height: 50px;
}

.user {
    text-align: right;
}

.logout {
    color: #8C8C8C;
}

.logout:hover {
    color: black;
}

.avatar {
    padding: 10px;
    font-size: 20px;
    background-color: darkgray;
}

img {
    width: 100%;
}

hr {
    width: 100%;
}

.col {
    padding: 0;
}

.card {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.card-title-icon {
    font-size: 40px;
    padding: -10px;
    height: 10px;
}

.mini_cards {
    justify-content: space-between;
}

.mini_card {
    max-width: 300px;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 70px;
}

.mini_card_body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.mini_card-title {
    font-size: 70px;
    font-weight: bold;
    width: 100%;
}

.mini_card-text {
    font-size: 25px;
    font-weight: bold;
}

.big_card_row {
    margin-top: 40px;
}

.big_card_col {}

.big_card {
    border: none;
    box-shadow: 10px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 70px;
    padding: 20px;
}

.big_card_header {
    background: none;
    border-bottom: 1px solid #8C8C8C;
    font-weight: bold;
    padding-bottom: 10px;
}

.big_card_body {}