body {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: black;
}

.nav-item:visited{
    color: black;
}

.nav-link:hover {
    color: white;
}

.nav-item, .nav-pills {
    width: 100%;
}

.item-single {
    transition-duration: 0.5s;
    padding-left: 10px;
}

.item-single:hover {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 20px;
}

.left-navbar {
    background-color: #02A7FF;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
}

.item-single-current {
    background-color: #015480;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
}

.settings {
    vertical-align: bottom;
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    width: 150px;
}

.content{
    padding: 0px;
}

.topbar {
    background-color: #E5E5E5;
    color: black;
    padding: 20px;
}

.user_info {
    position: absolute;
    right: 100px;
}

.rounded-circle {
    width: 60px;
    height: 60px;
}

.user {
    text-align: right;
}

.logout {
    color: #8C8C8C;
}

img {
    width:100%;
}

hr {
    width: 100%;
}

