@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
  }

body {
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
    background-color:bisque;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.left {
    background-color: #02A7FF;
    padding: 0;
    height: 100%;
}

.content {
    background-color:blueviolet;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.top {
    background-color: #E5E5E5;
    height: 100px;
    margin: 0;
    clear: both;
    text-align: right;
    vertical-align: middle;
    padding-right: 5%;
}

.bottom {
    background-color: aqua;
    height: 100%;
    clear: both;
}

.logo {
    padding: 10%;
    font-family: 'Romanesco', cursive;
    display: block;
    margin: 0;
}

.navigation {
    font-family: 'Roboto', cursive;
    font-size: 35px;
}

button {
    font-family: 'Roboto', cursive;
    font-size: 35px;
    background-color: #02A7FF;
    border: none;
    width: 100%;
    text-align: left;
    resize: none;
    word-wrap: break-word;
}
button:hover {
    font-family: 'Roboto', cursive;
    font-size: 35px;
    background-color: #026499;
    border: none;
    width: 100%;
    text-align: left;
}

.logowanie {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1.5%;
    margin-right: 5%;
}
.logowanie:hover {
    width: auto;
}

.rejestracja {
    width: auto;
    padding: 10px;
    border-radius: 10px;
}
.rejestracja:hover {
    width: auto;
}

@media only screen and (max-width: 600px) {
    button {
        font-size: 10px;
    }
}