<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="SMART LANDLORD" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> SMART LANDLORD </title>
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
</head>

<body>

    <div class="col-12 container">
        <div class="col-3 left">
            <div class="logo"><img style="width: 125%; height: 125%;" src="../static/IMAGES/LOGO.png"><hr style="color:black; width: 100%;"></div>
            <div class="navigation">
                <p><button><img src="../static/IMAGES/HomePage.png">Strona główna</button></p>
                <p><button><img src="../static/IMAGES/ListUl.png">Twoje lokale</button></p>
                <p><button><img src="../static/IMAGES/Notification.png">Powiadomienia</button></p>
                <p><button><img src="../static/IMAGES/Contacts.png">Kontakty</button></p>
                <p><button><img src="../static/IMAGES/Summary.png">Podsumowanie</button></p>
            </div>
        </div>
        <div class="col-9 content">
            <div class="top">
                <button class="logowanie">Zaloguj</button>
                <button class="rejestracja">Zarejestruj</button>
            </div>
            <div class="bottom"></div>
        </div>


    </div>

</body>

</html>