<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="SMART LANDLORD" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> SMART LANDLORD </title>
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="col-12 container">
        <div class="top">
            <div class="col-3 left">
                <div class="logo"><img style="width: auto; height: auto;" src="../static/IMAGES/LOGO.png">
                </div>
            </div>
            <div class="col-9 right">
                <button class="logowanie">Zaloguj</button>
                <button class="rejestracja">Zarejestruj</button>
            </div>
        </div>
        <div class="col-12 bottom">
            <div class="col-2 c1"></div>
            <div class="col-8 c2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu urna vitae diam scelerisque iaculis vitae at lacus. Fusce dignissim ac nibh in consectetur. Sed malesuada interdum laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus sodales tellus quis purus elementum, at aliquam ex tempor. Aliquam ultricies ante nec massa fermentum suscipit at ut erat. Maecenas at varius eros, sed interdum orci.
            </div>
            <div class="col-2 c1"></div>
        </div>
    </div>
</body>

</html>